<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% for (var x=0; x<posts.length; x++){ %>
  <h1><%= posts[x].newPostTitle %></h1>
  <p><%= posts[x].newPostBody %></p>
  <%}%> <%- include("partials/footer") -%>
</posts.length;>
